.menu-btn {
  font-size: 28px;
  cursor: pointer;
  display: none;
}

/* Menú */
.nav {
  display: flex;
  gap: 20px;
}

/* MÓVIL */
@media (max-width: 768px) {
  .menu-btn {
    display: block;
  }

  .nav {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: white;
    flex-direction: column;
    align-items: center;
    display: none;
    z-index: 1000;
  }

  .nav.active {
    display: flex;
  }
  section {
  scroll-margin-top: 90px;
}

}

